* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	font-size: 18px;
}

/* SLIDER */

.bg1 {
	background-image: url(../images/bg.jpeg);
}

.bg2 {
	background-image: url(../images/bg2.jpeg);
}

.bg3 {
	background-image: url(../images/bg3.jpeg);
}

.bg1, .bg2, .bg3 {
	min-height: 600px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}

/* NAVBAR + HEADER */

header {
	position: absolute;
	top:0 ;
	left: 0;
}

.brand img {
	max-width: 65%;
}

nav ul {
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}

nav ul li a {
	color: #b4b4b4;
}

nav ul li a:hover, nav ul li a:active {
	text-decoration: none;
	color: #fff;
}

.title {
	padding-top: 30px;
	text-align: center;
	color: #fff;
	font-size: 2rem;
}

.title h1 {
	padding-bottom: 15px;
}

.title p {
	padding-top: 15px;
	font-size: 1.4rem;
}

/* INFO1 */

.info1 {
	text-align: center;
}

.info1 h3 {
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}

.info1 img {
	max-width: 70%;
}

.border_top {
	border-top: 1px #bebebe solid;
}

/* INFO2 */

.info2 {
	background-color: #dddddd;
	padding-top: 25px;
	padding-bottom: 30px;
}

/* CONTACT */

.contact {
	padding-top: 25px;
	padding-bottom: 25px;
}

.contact_info {
	padding-bottom: 30px;
}

.contact_form input, .contact_form button {
	margin: 3px 3px;
	border-radius: 5px;
	border: 1px solid #aeaeae;
}

/* FOOTER */

footer {
	background-color: #1e1d22;
	color: #fff;
	padding: 15px 0;
}

/* -------- TABLET VER. -------- */

@media (min-width: 767px) {


nav ul {
	margin-top: 50px;
}

header {
	left: 5vh;
}


/* -------- DESKTOP VER. -------- */

@media (min-width: 991px) {

nav ul {
	margin-top: 50px;
}

header {
	left: 25vh;
}

}